target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.classpath
.project
.settings/
test-output/
test-output/Default suite/Default test.html
test-output/Default suite/Default test.html
test-output/testng-results.xml
test-output/old/Default suite/methods.html
test-output/junitreports/TEST-ru.stqa.selenium.LoginTest.xml
test-output/emailable-report.html
